.btn {
  display: block;
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
  background: rgba(170, 161, 161, 0.993);
  color: white;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 2%;
}
